* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set up a consistent font style */
body {
  font-size: 16px; /* Default root font size for rem calculations */
  line-height: 1.5;

  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* For consistent layout in all devices */
html,
body,
#root {
  height: 100%;
  width: 100%;
}
