.banner {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}
.heading {
  font-family: "Simplon Norm";
  font-size: 3.75rem;
  font-weight: 400;
  margin: 0px;
}
.desc {
  margin: 0px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text {
  margin: 2px;
  padding: 0.05rem;
}
.hr {
  border: none;
  height: 1px;
  background-color: #e5e5e5;
  margin: 1rem 0;
}
@media screen and (max-width: 450px) {
  .heading {
    font-size: 1rem;
  }
}
